body {
background-color: #D3D3D3;
font: 11px Verdana;
color: #A52A2A
}

#wrapper {
width: 650px;
margin: 30px auto;
background-color: #F4F4F4;
}

#header {						
height: 75px;					
background-image: url(../img/redHeader.png);
background-repeat: no-repeat;			
}

#content {						/* колонка 4 по середине */
padding: 20px 30px;
}

#new {							/* ид изображения */
position: absolute;				/* обсолютное позиционирование */
top:0px;						/* вверхний отступ */
left:0px;						/* левый отступ */
}

#conteiner {					/* блок див ид */
position: absolute;
top: 0px;
right: 0px;
background-color: #F0E68C;		/* цвет фона */
width: 300px;
height: 300px;
}